*{
	margin: 0px;
	padding: 0px;
}

.s4_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s4_2 {
	position: absolute;
  left: 225px;
  top: 75px;
  width: 574px;
  height: 199px;
	animation: stampIn 0.3s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s4_3 {
	position: absolute;
  left: 45px;
  top: 416px;
  width: 927px;
  height: 211px;
	animation: fadeInLeft 0.5s;
	animation-delay: 0.8s;
	animation-fill-mode: both;
	z-index: 3;
}

.s4_4 {
	position: absolute;
  left: 804px;
  top: 269px;
  width: 173px;
  height: 111px;
	animation: flashUp 10s;
	animation-delay: 1.3s;
	animation-fill-mode: both;
	z-index: 3;
}

.s4_pop1 {
	position: absolute;
	height: 80px;
	width: 80px;
	right: 32px;
	bottom: 0px;
	z-index: 3;
}

.s4_c1ose1 {
	position: absolute;
	width: 974px;
	height: 94px;
	left: 25px;
	bottom: 58px;
	display: none;
	z-index: 6;
}

@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(2);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(2);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}

@-webkit-keyframes revealStrip {
 0% {
   clip: rect(0px,0px,74px,0px);
   opacity: 1;
 }
 
 100% {
   clip: rect(0px,702px,74px,0px);
   opacity: 1;
 }
}
@keyframes revealStrip {
 0% {
   clip: rect(0px,0px,74px,0px);
   opacity: 1;
 }
 
 100% {
   clip: rect(0px,702px,74px,0px);
   opacity: 1;
 }
}

.revealStrip {
 -webkit-animation-name: revealStrip;
 animation-name: revealStrip;
}

@-webkit-keyframes flashUp {
  0%, 40%, 90% {
    opacity: 0;
  }

  20%, 60%, 100% {
    opacity: 1;
  }
}

@keyframes flashUp {
  0%, 40%, 90% {
    opacity: 0;
  }

  20%, 60%, 100% {
    opacity: 1;
  }
}

.flashUp {
  -webkit-animation-name: flashUp;
  animation-name: flashUp;
}