* {
  margin: 0px;
  padding: 0px;
}

.s2_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s2_2 {
  position: absolute;
  left: 188px;
  top: 42px;
  width: 644px;
  height: 288px;
  animation: zoomIn 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 3;
}

.s2_3 {
  position: absolute;
  left: 62px;
  top: 358px;
  width: 450px;
  height: 330px;
  animation: fadeInLeft 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_4 {
  position: absolute;
  left: 582px;
  top: 365px;
  width: 378px;
  height: 325px;
  animation: fadeInRight 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_5 {
  position: absolute;
  left: 394px;
  top: 407px;
  width: 244px;
  height: 259px;
  animation: fadeInRight 1s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_6 {
  position: absolute;
  left: 726px;
  top: 407px;
  width: 243px;
  height: 259px;
  animation: fadeInRight 1s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 2;
}


@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}