*{
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 354px;
  height: 768px;
	animation: fadeInLeft 0.5s;
	animation-delay: 0.0s;
	animation-fill-mode: both;
	z-index: 2;
}

.s1_3 {
	position: absolute;
  left: 424px;
  top: 89px;
  width: 534px;
  height: 210px;
	animation: stampIn 0.3s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s1_4 {
	position: absolute;
  left: 437px;
  top: 401px;
  width: 503px;
  height: 266px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 4;
}

.s1_5 {
	position: absolute;
	width: 974px;
	height: 94px;
	left: 27px;
	top: 622px;
	display: none;
	z-index: 6;
}

.s1_pop1 {
	position: absolute;
	height: 80px;
	width: 80px;
	right: 32px;
	bottom: 0px;
	z-index: 10;
}

.s1_c1ose1 {
	position: absolute;
	width: 974px;
	height: 94px;
	left: 25px;
	bottom: 58px;
	display: none;
	z-index: 8;
}

@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(2);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(2);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes revealStrip {
 0% {
   clip: rect(0px,0px,74px,0px);
   opacity: 1;
 }
 
 100% {
   clip: rect(0px,702px,74px,0px);
   opacity: 1;
 }
}
@keyframes revealStrip {
 0% {
   clip: rect(0px,0px,74px,0px);
   opacity: 1;
 }
 
 100% {
   clip: rect(0px,702px,74px,0px);
   opacity: 1;
 }
}

.revealStrip {
 -webkit-animation-name: revealStrip;
 animation-name: revealStrip;
}

@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}