*{
	margin: 0px;
	padding: 0px;
}

.s2_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2_2 {
	position: absolute;
  left: 50px;
  top: 39px;
  width: 736px;
  height: 247px;
	animation: fadeInDown 0.5s;
	animation-delay: 0.0s;
	animation-fill-mode: both;
	z-index: 2;
}

.s2_3 {
	position: absolute;
  left: 81px;
  top: 317px;
  width: 352px;
  height: 355px;
	animation: fadeInLeft 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s2_4 {
	position: absolute;
  left: 318px;
  top: 311px;
  width: 611px;
  height: 362px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s2_pop1 {
	position: absolute;
	height: 80px;
	width: 80px;
	right: 32px;
	bottom: 0px;
	z-index: 3;
}

.s2_c1ose1 {
	position: absolute;
	width: 974px;
	height: 94px;
	left: 25px;
	bottom: 58px;
	display: none;
	z-index: 6;
}

@-webkit-keyframes revealStrip {
 0% {
   clip: rect(0px,0px,74px,0px);
   opacity: 1;
 }
 
 100% {
   clip: rect(0px,702px,74px,0px);
   opacity: 1;
 }
}
@keyframes revealStrip {
 0% {
   clip: rect(0px,0px,74px,0px);
   opacity: 1;
 }
 
 100% {
   clip: rect(0px,702px,74px,0px);
   opacity: 1;
 }
}

.revealStrip {
 -webkit-animation-name: revealStrip;
 animation-name: revealStrip;
}