* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.logo1 {
  position: absolute;
  left: 54px;
  top: 321px;
  width: 109px;
  height: 111px;
  animation: pulse 1s infinite;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 2;
}

.logo2 {
  position: absolute;
  left: 501px;
  top: 333px;
  width: 94px;
  height: 96px;
  animation: pulse 1s infinite;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 2;
}

.pop1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.pop_open1 {
	position: absolute;
  left: 19px;
  top: 292px;
  width: 181px;
  height: 165px;
	z-index: 5;
}

.pop_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 10;
	display: none;
}

.pop2 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 7;
	display: none;
}

.pop_open2 {
	position: absolute;
  left: 457px;
  top: 292px;
  width: 181px;
  height: 165px;
	z-index: 5;
}

.pop_close2 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 10;
	display: none;
}