*{
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
	position: absolute;
	width: 606px;
	height: 419px;
	left: 375px;
	top: 175px;
	animation: fadeInRight 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s1_3 {
	position: absolute;
	width: 702px;
	height: 74px;
	left: 285px;
	top: 630px;
	animation: revealStrip 3s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	display: none;
	z-index: 2;
}

.s1_4 {
	position: absolute;
	width: 974px;
	height: 94px;
	left: 32px;
	bottom: 58px;
	display: none;
	z-index: 4;
}

.s1_5,.s1_6,.s1_7,.s1_8   {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 7;
}

.s1_pop1 {
	position: absolute;
	height: 80px;
	width: 80px;
	right: 35px;
	bottom: 0px;
	z-index: 3;
}

.s1_c1ose1 {
	position: absolute;
	width: 974px;
	height: 94px;
	left: 32px;
	bottom: 58px;
	display: none;
	z-index: 6;
}

.s1_pop2 {
	position: absolute;
	height: 175px;
	width: 140px;
	left: 389px;
	top: 225px;
	z-index: 3;
}

.s1_pop3 {
	position: absolute;
	height: 175px;
	width: 140px;
	left: 535px;
	top: 225px;
	z-index: 3;
}

.s1_pop4 {
	position: absolute;
	height: 175px;
	width: 140px;
	left: 681px;
	top: 225px;
	z-index: 3;
}

.s1_pop5 {
	position: absolute;
	height: 175px;
	width: 140px;
	left: 826px;
	top: 225px;
	z-index: 3;
}

.s1_c1ose2 {
	position: absolute;
	height: 60px;
	width: 60px;
	right: 148px;
	top: 135px;
	display: none;
	z-index: 8;
}

@-webkit-keyframes revealStrip {
 0% {
   clip: rect(0px,0px,74px,0px);
   opacity: 1;
 }
 
 100% {
   clip: rect(0px,702px,74px,0px);
   opacity: 1;
 }
}
@keyframes revealStrip {
 0% {
   clip: rect(0px,0px,74px,0px);
   opacity: 1;
 }
 
 100% {
   clip: rect(0px,702px,74px,0px);
   opacity: 1;
 }
}

.revealStrip {
 -webkit-animation-name: revealStrip;
 animation-name: revealStrip;
}