* {
  margin: 0px;
  padding: 0px;
}

.s1_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s1_2 {
  position: absolute;
  left: 209px;
  top: 242px;
  width: 207px;
  height: 252px;
  animation: fadeInLeft 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 3;
}

.s1_3 {
  position: absolute;
  left: 336px;
  top: 324px;
  width: 233px;
  height: 273px;
  animation: fadeInRight 1s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_4 {
  position: absolute;
  left: 572px;
  top: 301px;
  width: 420px;
  height: 267px;
  animation: zoomIn 1s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_5 {
  position: absolute;
  left: 698px;
  top: 429px;
  width: 295px;
  height: 264px;
  animation: fadeInRight 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
  z-index: 2;
}


@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}