* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.logo {
  position: absolute;
  left: 228px;
  top: 314px;
  width: 677px;
  height: 159px;
  animation: pulse 1s infinite;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 2;
}

.homebtn1 {
  position: absolute;
  left: 213px;
  top: 303px;
  width: 227px;
  height: 88px;
  z-index: 254;
}

.homebtn2 {
  position: absolute;
  left: 453px;
  top: 303px;
  width: 227px;
  height: 88px;
  z-index: 254;
}

.homebtn3 {
  position: absolute;
  left: 692px;
  top: 303px;
  width: 227px;
  height: 88px;
  z-index: 254;
}

.homebtn4 {
  position: absolute;
  left: 213px;
  top: 396px;
  width: 227px;
  height: 88px;
  z-index: 254;
}

.homebtn5 {
  position: absolute;
  left: 453px;
  top: 396px;
  width: 227px;
  height: 88px;
  z-index: 254;
}

.homebtn6 {
  position: absolute;
  left: 692px;
  top: 396px;
  width: 227px;
  height: 88px;
  z-index: 254;
}