*{
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
	position: absolute;
  left: 288px;
  top: 464px;
  width: 178px;
  height: 181px;
	z-index: 5;
}

.s1_3 {
	position: absolute;
  left: 558px;
  top: 530px;
  width: 178px;
  height: 181px;
	z-index: 5;
}

.s1_4 {
	position: absolute;
  left: 268px;
  top: 444px;
  width: 218px;
  height: 221px;
	animation: none 0.3s;
	animation-delay: 1s;
	animation-fill-mode: both;
	display: none;
	z-index: 10;
}

.s1_5 {
	position: absolute;
  left: 538px;
  top: 510px;
  width: 218px;
  height: 221px;
	animation: none 0.3s;
	animation-delay: 1s;
	animation-fill-mode: both;
	display: none;
	z-index: 10;
}

.yes {
	position: absolute;
  left: 236px;
  top: 430px;
  width: 265px;
  height: 261px;
	z-index: 15;
}

.no {
	position: absolute;
  left: 522px;
  top: 483px;
  width: 265px;
  height: 261px;
	z-index: 15;
}