* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.homebtn1 {
  position: absolute;
  left: 211px;
  top: 351px;
  width: 217px;
  height: 83px;
  z-index: 254;
}

.homebtn2 {
  position: absolute;
  left: 446px;
  top: 351px;
  width: 217px;
  height: 83px;
  z-index: 254;
}

.homebtn3 {
  position: absolute;
  left: 681px;
  top: 351px;
  width: 217px;
  height: 83px;
  z-index: 254;
}

.homebtn4 {
  position: absolute;
  left: 298px;
  top: 445px;
  width: 217px;
  height: 83px;
  z-index: 254;
}

.homebtn5 {
  position: absolute;
  left: 580px;
  top: 445px;
  width: 217px;
  height: 83px;
  z-index: 254;
}