* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.logo {
  position: absolute;
  left: 65px;
  top: 449px;
  width: 894px;
  height: 212px;
  animation: pulse 1s infinite;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 2;
}

.homebtn10 {
  position: absolute;
  left: 33px;
  top: 418px;
  width: 305px;
  height: 145px;
  z-index: 254;
}

.homebtn11 {
  position: absolute;
  left: 363px;
  top: 418px;
  width: 305px;
  height: 145px;
  z-index: 254;
}

.homebtn12 {
  position: absolute;
  left: 693px;
  top: 418px;
  width: 305px;
  height: 145px;
  z-index: 254;
}

.homebtn13 {
  position: absolute;
  left: 363px;
  top: 568px;
  width: 305px;
  height: 145px;
  z-index: 254;
}

.homebtn14 {
  position: absolute;
  left: 580px;
  top: 445px;
  width: 217px;
  height: 83px;
  z-index: 254;
}