*{
	margin: 0px;
	padding: 0px;
}

.s8_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}
.s8_2 {
	position: absolute;
  left: 88px;
  top: 125px;
  width: 848px;
  height: 445px;
	animation: zoomIn 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 2;
}

@-webkit-keyframes flashOut {
  0%, 10%, 20%, 30% {
    opacity: 0;
  }

  5%, 15%, 25% {
    opacity: 1;
  }
   
  100% {
    opacity: 1;
  }
}

@keyframes flashOut {
  0%, 10%, 20%, 30% {
    opacity: 0;
  }

  5%, 15%, 25% {
    opacity: 1;
  }
   
  100% {
    opacity: 1;
  }
}

.flashOut {
  -webkit-animation-name: flashOut;
  animation-name: flashOut;
}