*{
	margin: 0px;
	padding: 0px;
}

.s3_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	animation: fadeInLeft 1s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 1;
}

.s3_2 {
	position: absolute;
  right: 20px;
  top: 20px;
	z-index: 2;
}

.s3_3 {
	position: absolute;
  left: 428px;
  top: 114px;
  width: 549px;
  height: 468px;
	animation: fadeInRight 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 3;
}