*{
	margin: 0px;
	padding: 0px;
}

.s2_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2_2 {
	position: absolute;
	width: 536px;
	height: 178px;
	left: 455px;
	top: 102px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s2_3 {
	position: absolute;
	width: 455px;
	height: 157px;
	left: 471px;
	top: 316px;
	animation: fadeInRight 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 2;
}

.s2_4 {
	position: absolute;
	width: 477px;
	height: 83px;
	left: 471px;
	top: 503px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s2_5 {
	position: absolute;
	width: 574px;
	height: 54px;
	left: 406px;
	top: 645px;
	/* animation: revealStrip 3s; */
	animation-delay: 4s;
	animation-fill-mode: both;
	z-index: 2;
}

.s2_6_wrap {
	position: absolute;
	width: 124px;
	height: 118px;
	left: 879px;
	top: 551px;
	animation: fadeIn 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 2;
}

.s2_6 {
	position: absolute;
	animation: pulse 1s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 2;
}

.s2_7 {
	position: absolute;
	width: 974px;
	height: 94px;
	left: 26px;
	top: 620px;
	display: none;
	z-index: 4;
}

.s2_pop1 {
	position: absolute;
	height: 80px;
	width: 80px;
	right: 35px;
	bottom: 0px;
	z-index: 3;
}

.s2_c1ose1 {
	position: absolute;
	width: 974px;
	height: 94px;
	left: 25px;
	top: 620px;
	display: none;
	z-index: 6;
}

@-webkit-keyframes revealStrip {
 0% {
   clip: rect(0px,0px,54px,0px);
   opacity: 1;
 }
 
 100% {
   clip: rect(0px,574px,54px,0px);
   opacity: 1;
 }
}
@keyframes revealStrip {
 0% {
   clip: rect(0px,0px,54px,0px);
   opacity: 1;
 }
 
 100% {
   clip: rect(0px,574px,54px,0px);
   opacity: 1;
 }
}

.revealStrip {
 -webkit-animation-name: revealStrip;
 animation-name: revealStrip;
}